Theme: Black / Blue
    Do we need a new banner?

parts of the page:
    -front page
    -links to facebook, discord, etc. 
    -apply membership:
        -name V
        -age V
        -from (city) V
        -from (country) V
        -e-mail V
        -nickname V
        -about V